#nav{
    height: 30px;
    background-color: black;
    color: white;
    word-spacing: 200px;
    text-align: center;
    line-height: 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

body{
    background-color: #000000;
}

a{
    text-decoration: none;
    color: white;
}

#home{
    height: 100vh;
    background-image: url("../asset/intro-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#hello{
    position: relative;
    top: 150px;
    height: 50px;
    text-align: center;
    color:white;
    font-size: xx-large;

}

.name{
        position: relative;
        top:50px;
        height: 90px;
        text-align: center;
        color:white;
        font-size: 84px;
        font-style: italic;
        text-shadow: white;
       
}

#role{
    position: relative;
    top:70px;
    height: 30px;
    text-align: center;
    /* padding: 10px; */
    color: white;
}
#span-1{
border-right: 2px solid white;
border-left: 2px solid white;

}
#span-2{
    border-right: 2px solid white;
  
    }
    
#span-1,#span-2{
    padding: 10px;
}

#more{
    height: 40px;
    width: 130px;
   border: 1px solid white;
   border-radius: 10px;
   background: none;
   color: white;

}

#btn-div{
    position: relative;
    top: 90px;
    text-align: center;
}


#about{
    height: 100vh;
    background-color: #000000;
    display: flex;
    
    flex-direction: row;
    
 }

#pic{
    position: relative;
    top: 150px;
    left: 150px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 1px solid black;
 background-image: url("../asset/Images/profile_pic.jpeg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-position: center center;
}

#about-detail{
    height: 600px;
    width: 500px;
    position: relative;
    left: 300px;
    top: 0px;
    text-align: center;
}

h5{
    font-size: 23px;
    /* color: #888888; */
    color: white;
    line-height: 40px;
}

.heading{
    text-align: center;
    color: #648874;
 }

 #skill{
    height: 80vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    column-gap: 30px;
 }
 #sub-1{
    /* border: 1px solid black; */
    height: 500px;
    width: 400px;
    
    display: inline-block;
    padding: 10px; 
 }

 #sub-2{
    /* border: 1px solid black; */
 
    height: 500px;
    width: 400px;
    display: inline-block;

 } 
.q{
    text-align: left;
    margin: 0px;
    color: white;
    
}

.ans{
    text-align: left;
    margin: 0px;
    color: #888888;
}
 
.percent{
    color: white;
 }

 #perA, #perD{
   display: inline-block;
   position: relative;
   left: -21px;
    width: 300px;
     /* border: 1px solid black; */
     background-color: #888888;
     padding: 10px;
     margin-top: 10px;
    
 }

 #perB, #perC{
    display: inline-block;
    position: relative;
    left: -50px;
    width: 250px;
     /* border: 1px solid black; */
     background-color: #888888;
     padding: 10px;
 }


 #but{
    height: 10vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    column-gap: 30px;
 }

 #hire, #dwn{
    height: 20px;
    padding: 10px;
    border: 2px solid white;
    color:white;
    font-size: large;
    font-weight: bold;
 }

 #resume{
    height: 40vh;
    padding: 10px;
    text-align: center;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    display: none !important;
 }

 .div4head{
    margin: 0px;
    
    color: rgb(198, 37, 158);
    text-align: center;
 }
 #resume-detail-1{
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    background-color:#056CAE;
    text-align: center;
    /* background-color: #EBEBEB; */
    border: 1px solid black;
    margin: 4dvb;
    border-radius: 10px;
 }
 #role-e1{
    height: 600px;
    width: 350px;
    /* border: 1px solid black; */
    margin-top: 30px;
    border-radius: 10px;
    background-image: url("../asset/Citi/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 2px 2px 2px 2px white;

    animation-name: oneani;
    animation-duration: 20s;
    animation-iteration-count: infinite;
 }

 @keyframes oneani {
    0%{
        background-image: url("../asset/Citi/1.png");
    }
    20%{background-image: url("../asset/Citi/2.png");
        
    } 
    40%{background-image: url("../asset/Citi/3.png");
        
    }
    60%{background-image: url("../asset/Citi/4.png");
        
    }
    80%{background-image: url("../asset/Citi/5.png");
        
    }   
    }

 #exp-1{
    
    height: 550px;
    width: 800px;
    /* border: 1px solid black; */
    margin-top: 30px;
    background-color:#056CAE;
    text-align: left;
    padding: 20px;
    overflow: auto;
 }

 .exp-h6{
    font-size: 23px;
    color:#293F50;
    text-align: left;
    margin: 0px;
    font-style: italic;
    
}

 h1{
    text-align: center;
}
p,li{
    color: white; 
}

#resume-detail-2{
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    background-color:#861F41;
    text-align: center;
    /* background-color: #EBEBEB; */
    border: 1px solid black;
    margin: 4dvb;
    border-radius: 10px;
 }
 #role-e2{
    height: 600px;
    width: 350px;
    /* border: 1px solid black; */
    margin-top: 30px;
    border-radius: 10px;
    background-image: url("../asset/Axis/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 2px 2px 2px 2px white;

    animation-name: twoani;
    animation-duration: 20s;
    /* animation-timing-function: linear; */
    animation-iteration-count: infinite;
 }

 @keyframes twoani {
    0%{
        background-image: url("../asset/Axis/1.png");
    }
    20%{background-image: url("../asset/Axis/2.png");
        
    } 
    40%{background-image: url("../asset/Axis/3.png");
        
    }
    60%{background-image: url("../asset/Axis/4.png");
        
    }
    80%{background-image: url("../asset/Axis/5.png");
        
    }   }


 #exp-2{
    
    height: 550px;
    width: 800px;
    /* border: 1px solid black; */
    margin-top: 30px;
    background-color:#861F41;
    text-align: left;
    padding: 20px;
    overflow: auto;
 }

 #company2{
    height: 13vh;
    background-color: #EBEBEB;
    padding: 30px;
    display: none;
}

#resume-detail-3{
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    background-color:black;
    text-align: center;
    background-color: #C8EEFE;
    border: 1px solid black;
    margin: 4dvb;
    border-radius: 10px;
 }
 #role-e3{
    height: 600px;
    width: 350px;
    /* border: 1px solid black; */
    margin-top: 30px;
    border-radius: 10px;
    background-image: url("../asset/FinzappParamPritiWeb/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 2px 2px 2px 2px white;

    animation-name: threeani;
        animation-duration: 20s;
        /* animation-timing-function: linear; */
        animation-iteration-count: infinite;
 }

 #exp-3>p,#exp-3>ul>li {
    color: #000000;
 }

 @keyframes threeani {
    0%{
        background-image: url("../asset/FinzappParamPritiWeb/1.jpg");
    }
    25%{background-image: url("../asset/FinzappParamPritiWeb/2.jpg");
        
    } 
    50%{background-image: url("../asset/FinzappParamPritiWeb/3.jpg");
        
    }
    75%{background-image: url("../asset/FinzappParamPritiWeb/4.jpg");
        
    }
    }

 #exp-3{
    
    height: 550px;
    width: 800px;
    /* border: 1px solid black; */
    margin-top: 30px;
    /* background-color:black; */
    text-align: left;
    padding: 20px;
    overflow: auto;
 }
 #company3{
    height: 13vh;
    background-color: #EBEBEB;
    padding: 30px;
    display:none
}

#resume-detail-4{
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    background-color:rgb(50, 90, 77);
    text-align: center;
    /* background-color: #EBEBEB; */
    border: 1px solid black;
    margin: 4dvb;
    border-radius: 10px;
 }
 #role-e4{
    height: 600px;
    width: 350px;
    /* border: 1px solid black; */
    margin-top: 30px;
    border-radius: 10px;
    background-image: url("../asset/QtaniumConnectGenesisCircle/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 2px 2px 2px 2px white;

    animation-name: fourani;
        animation-duration: 20s;
        /* animation-timing-function: linear; */
        animation-iteration-count: infinite;
 }


 @keyframes fourani {
    0%{
        background-image: url("../asset/QtaniumConnectGenesisCircle/1.png");
    }
    20%{background-image: url("../asset/QtaniumConnectGenesisCircle/2.png");
        
    } 
    40%{background-image: url("../asset/QtaniumConnectGenesisCircle/3.png");
        
    }
    60%{background-image: url("../asset/QtaniumConnectGenesisCircle/4.png");
    }
    80%{background-image: url("../asset/QtaniumConnectGenesisCircle/5.png");
    }
     }

 #exp-4{
    
    height: 550px;
    width: 800px;
    /* border: 1px solid black; */
    margin-top: 30px;
    background-color:rgb(50, 90, 77);
    text-align: left;
    padding: 20px;
    /* overflow: auto; */

 }


 #foot{
    height: 60vh;
    background-color:#151515;
    color: white;
    margin: 0px;
overflow: hidden;
}

#contact{
    color: white;
   text-align: center;
}

#contact-mail{
    width: 600px;
    height: 100px;
    padding: 30px;
    position: absolute;
    left: 100px;
    text-align: center;
}

#contact-num{
    width: 600px;
    height: 100px;
    padding: 30px;
    position: absolute;
    left: 500px;
    text-align: center;
}
i{
    font-size: xx-large;
}